img {
  max-width: 100%;
}

.image {
  width: 200px;
}

.light-on {
  background-color: rgb(227, 194, 76);
  /* background-image: radial-gradient( rgb(227, 194, 76), transparent); */
  transition: background-color 2s ease-in;

}

.background-on {
  background-color: rgb(115, 101, 49);
  transition: background-color 2s ease-in-out;
}

.boo {
  width: 200px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.find-me {
  width: 300px;
  height: 100px;
  background-color: rgb(163, 160, 132);
}
