img {
  max-width: 100%;
}

.image {
  width: 200px;
}

.light-on {
  background-color: rgb(227, 194, 76);
  background-image: radial-gradient( rgb(227, 194, 76), transparent);
  transition: background-color 1s ease-in-out;

}

.background-on {
  background-color: rgb(115, 101, 49);
  transition: background-color 1s ease-in-out;
}

.boo {
  width: 200px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.find-me {
  width: 300px;
  height: 100px;
  background-color: rgb(163, 160, 132);
  /* position: absolute;
  top: 5px;
  left: 5px; */
}
/* 
.instructions {
  position: absolute;
  left: 0;
  bottom: 0;
} */